:root{
  --hover-color: #0094c6;
}
.ua-filtros-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.ua-filtros button {
  background: #fff;
  border: 2px solid #575756;
  border-radius: 8px;
  padding: 10px 15px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.ua-filtros button:hover {
  border-color: var(--hover-color);
}
.ua-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  gap: 20px;
}

.ua-card-link {
  text-decoration: none;
  color: #000;
  font-weight: semi-bold;
  display: flex;
  align-items: center;
  width: 135px;
  height: 40px;
  justify-content: center;
  background-color: #575756;
  border-radius: 8px;
  color: #fff !important;
  cursor: pointer;
}
.ua-card-link-icon {
  width: 20px;
  margin-top: 5px;
  margin-left: 5px;
}
.ua-card-content {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ua-card {
  border: 2px solid #575756;
  display: flex;
  border-radius: 10px;
}
.ua-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: var(--hover-color);
  cursor: pointer;
}
.ua-card:hover .ua-card-link {
  background-color: var(--hover-color);
}
.ua-card-placeholder {
  width: 153px;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f5f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ua-placeholder-legend {
  font-size: 14px;
  color: #999;
  text-align: center;
  padding: 10px;
  rotate: -45deg;
}
.ua-card img {
  width: 200px;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ua-card-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
.ua-card-content p {
  margin: 5px 0;
  font-size: 16px;
}
@media (max-width: 650px) {
  .ua-cards {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  .ua-card {
    flex-direction: column;
  }
  .ua-card img {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .ua-card-link {
    width: 100%;
  }
  .ua-filtros-container,
  .ua-filtros {
    flex-direction: column;
  }
}
.ua-filtros button.active {
  background-color: var(--hover-color);
  color: #fff;
  border-color: var(--hover-color);
}
#ua-search-input {
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 0 10px;
  width: 100%;
}
.ua-count-itens {
  max-width: 400px;
  width: 100%;
}
